<html lang="en">

  <head>
    <link rel="stylesheet" href="/static/clerk.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <div class="tableContainer">
      <div class="row">
        <div style="width:100%">
          <table class="table table-image">
            <thead style="text-align: center;">
              <tr>
                <th scope="col">Meal Package Name</th>
                <th scope="col">Meal Package Price</th>
                <th scope="col">Description</th>
                <th scope="col">Food category</th>
                <th scope="col">Number of meals</th>
                <th scope="col">Images</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {{#each data}}
                <tr class="tabledata">
                  <form
                    method="post"
                    action="updateUser"
                    enctype="multipart/form-data"
                  >
                    <input type="hidden" name="id" value="{{id}}" />
                    <td>
                      <input type="text" name="mealName" value="{{mealName}}" />
                    </td>
                    <td>
                      <input
                        style="width:70px"
                        type="text"
                        name="price"
                        value="{{price}}"
                      />
                    </td>
                    <td>
                      <input
                        style="padding-bottom:100px; width:200px;"
                        id="description"
                        type="text"
                        name="description"
                        value="{{description}}"
                      />
                    </td>
                    <td style=" ">
                      <input type="text" name="category" value="{{category}}" />
                    </td>
                    <td>
                      <input
                        style="width:100px"
                        type="number"
                        name="meals_number"
                        value="{{meals_number}}"
                      />
                    </td>
                    <td>
                      <img style="width:77px" src="/static/uploads/{{photo}}" />
                    </td>
                    <td>
                      <input
                        style="color:#f17244"
                        type="submit"
                        value="Update"
                      /></td>
                  </form>
                  <td>
                    <form
                      method="POST"
                      action="deleteUser"
                      enctype="multipart/form-data"
                    >
                      <input type="hidden" name="id" value="{{id}}" />
                      <input
                        style="margin-top: 20px; color:#f17244"
                        type="submit"
                        value="Delete"
                      />
                    </form>
                  </td>
                </tr>
              {{else}}
                <tr>
                  <td style="text-align:center" colspan="6">No Data Available</td>
                </tr>
              {{/each}}

            </tbody>
          </table>
        </div>
      </div>

      <br />
      <br />
      <hr />
      <article>
        <h1>Data Entry From Clerk </h1>
        <p>Create and update meal packages</p>
      </article>

      <br />
      <div>
        <div style="margin-left:420px">
          <form
            action="/clerk/register"
            method="POST"
            enctype="multipart/form-data"
            style="margin: 0 auto"
          >
            <input
              style="width: 330px"
              id="mealName"
              type="text"
              name="mealName"
              placeholder="Meal Package name *"
              required
            />
            <input
              style="width: 170px"
              id="price"
              type="number"
              name="price"
              placeholder="Meal Package price *"
              required
            /><br />
            <div>
              <textarea
                name="description"
                id="description"
                cols="62"
                rows="10"
              ></textarea>
            </div>
            <input
              style="width:330px"
              id="category"
              type="text"
              name="category"
              placeholder="Food Category *"
              required
            />
            <input
              style="width: 170px"
              id="meals_number"
              type="number"
              name="meals_number"
              placeholder="Number of Meals *"
            /><br />
            <input
              id="photo"
              type="file"
              name="photo"
              placeholder="Photo"
              required
            />
            <br /><br />
            <button class="register-btn" type="submit">
              <span style="line-height: normal;">Create Record </span>
            </button>
          </form>
        </div>
        <br />

      </div>
    </div>
  </body>

</html>