<!doctype html>
<html>


<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="/static/style.css" />
  <link rel="stylesheet" href="/static/login-form.css">
  <link rel="stylesheet" href="/static/register-form.css">
  <link rel="stylesheet" href="/static/user-profile.css">
</head>



<body>
  <div style="margin: 45px">
    <div class="container" style="color:#ffff">
      <h3>Hello <span class="user_greet">{{userSaved.username}}</span>
      </h3>

      <span>Welcome to your profile!</span>
      <p class="content">
        You have successfully been registered to <span style="color:#eb4f37; font-size:18px;">Batu's Steakhouse!</span>
      </p>

      <p style="font-family: monospace; color:#eccbbf; font-size: 15px;">=> Here is the information we have on file for
        you:</p>

      <table>
        <tr>
          <th>Administrator</th>
          <th>Username</th>
          <th>Lastname</th>
          <th>Email</th>
          <th>Meat lover</th>
        </tr>
        <tr>
          <td>{{userSaved.is_admin}}</td>
          <td>{{userSaved.username}}</td>
          <td> {{userSaved.lastname}}</td>
          <td> {{userSaved.email}}</td>
          <td>yes :)</td>
        </tr>
      </table>
    </div>
  </div>


</body>

</html>