<!--
* ********************************************************************************/ 
*  WEB322 – Assignment 1
*  I declare that this assignment is my own work in accordance with Seneca  Academic Policy.  
*  No part of this assignment has been copied manually or electronically from any other source
*  (including web sites) or distributed to other students.
* 
*  Name: Batuhan Ipci    Student ID: 130971203       Date: 10/18/2021
*
*  Online (Heroku) URL:    https://stark-crag-53181.herokuapp.com/
*
********************************************************************************/ 
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home | Batu Steak House</title>
</head>

<nav class="navbar" style="position: fixed;">
  <div class="brand_logo">
    <a href="/">
      <img class="logo" src="/static/images/logo.webp" style="width:150px" alt="Batu's SteakHouse" />
    </a>
  </div>
  <ul class="nav_links" style="margin-top:7px">
    <li><a href="/">Home</a></li>
    <li><a href="/mealPack">Meals Package</a></li>
    <li><a href="#">Grocery</a></li>
    <li><a href="#">About</a></li>
  </ul>
  <div class="nav_btns" style="margin-top:9px">
    {{#if User.username}}
    {{#if User.isAdminToBool}}{{!-- if admin registered --}}
    <button class="register-btn" style="width:170px; border-color:#f17244">
      <a href="/clerk/register"><span>Clerk Entry</span></a>
    </button>
    {{else}}{{!-- if customer registered/logged in --}}
    <span class="nav_icons">
      <li> <a href="/#menu"> <i class="fa fa-search"></i></a></li>
      <li> <a href="/#menu"><i class="fa fa-shopping-cart"></i></a></li>
    </span>
    <li> <a href="/users/loginDashboard" style="padding:11px"> {{User.username}} <i class="fa fa-home"></i></a></li>
    {{/if}}
    {{else}}{{!-- default --}}
    <span class="nav_icons">
      <li> <a href="/users/loginForm"> <i class="fa fa-shopping-cart"></i></a></li>
      <li> <a href="/client/loginForm"> <i class="fa fa-search"></i></a></li>
    </span>
    <li> <a href="/users/login" style="padding:20px">Sign in <i class="fas fa-sign-in"></i></a> </li>
    {{/if}}
  </div>
</nav>

<body>
  <main>

    <!-- =========  Hero Section  =========-->
    <div class='hero'>
      <div class="hero-one"></div>
      <div class="hero-two"></div>
      <h1 class="header-title"><span class="header-primary">Chef Batu Recipes <br></span> and the
        underground secrets</h1>
      <button type="button" class="fill-btn"><a href="#menu"><b>Order Now!</b></a></button>
    </div>
    <!-- =========  Hero Section  =========-->

    <!-- figure 1.1 -->
    <div class="content_section">
      <div class="content_text">Healthy food, for a wealthy mood!</div>
    </div>
    <!-- figure 1.1 -->


    <!-- figure 1.2 -->
    <div class="grid-content">
      <div class="content">
        <img src="static/images/menu.webp" />
        <figcaption>Pick</figcaption>
        <p>10+ types of steaks done with special skills. Order some (or all) of these meals</p>
      </div>
      <div class="content">
        <img src="static/images/delivery.webp" />
        <figcaption>Heat</figcaption>
        <p>Food delivery now becomes very simple. Order with our amazing app now!</p>
      </div>
      <div class="content">
        <img src="static/images/bakery.webp" />
        <figcaption>Eat</figcaption>
        <p>Microwave or Oven, No Cleaning Up. Adventurous & Healthy eating</p>
      </div>
      <div class="content">
        <img src="static/images/food.webp" />
        <figcaption>Repeat</figcaption>
        <p>Cooking techniques for perfectly grilled skirt steak, rib-eye,
          filet mignon and more</p>
      </div>
    </div>
    <a name="menu"></a>
    <div class="content_section">
      <div class="content_text">
        Batu Chef Cooks, You Simply Heat and Eat
      </div>
    </div>

    <!-- == figure 1.3 == top meals-->
    <div class="grid">
      <figure>
        <img src="static/images/mushroom.webp" alt="tbone">
        <figcaption>Ramen with Steak and Sesame </figcaption>
        <span>42.20 <i class="fa fa-dollar"></i></span>
        <h4>- Keto Meal -</h4>
        <h5>4 meals</h5>
        <p>When we crave beef but don’t want a capital-S steak, we opt for a smaller cut, then pile
          on mushrooms. These pickle-y mushrooms would also be delicious piled on top of toast. </p>
      </figure>
      <figure>
        <img src="static/images/broc.webp" alt="ribeye">
        <figcaption>Grilled Beef with Broccoli</figcaption>
        <span>27.00 <i class="fa fa-dollar"></i></span>
        <h4>- Muscle Gain Meal -</h4>
        <h5>3 meal</h5>
        <p>You’ll get all the traditional flavors from oyster
          sauce, Shaoxing wine, and soy sauce, but the steak and broccoli are grilled for a fresh summertime variation.
        </p>
      </figure>
      <figure>
        <img src="static/images/stroganoff.webp" alt="bistecca">
        <figcaption>Beef Stroganoff</figcaption>
        <span>50.70 <i class="fa fa-dollar"></i></span>
        <h4>- Muscle Gain Meal -</h4>
        <h5>2 meals</h5>
        <p>
          Classic 1950s staple of American cooking with Russian origins has been enhanced with a splash of fish
          sauce for depth and umami. “You can’t taste it, but you need it.”</p>
      </figure>
      <figure>
        <img src="static/images/noodle.webp" alt="tunasteak">
        <figcaption>Steak and Rice Noodle Salad</figcaption>
        <span>37.90 <i class="fa fa-dollar"></i></span>
        <h4>- Weight Loss Meal -</h4>
        <h5>3 meals</h5>
        <p>
          This salad recipe hits all the flavors we crave: hit of spice from the chiles,
          heartiness from the beef, crispy crunch from fresh veg, and even a bit of sweetness from the honey.
        </p>
      </figure>
      {{#each data}}
      <figure>
        <a name="new_menu"></a>

        <img src="/static/uploads/{{photo}}" />
        <figcaption>-{{mealName}}-</figcaption>
        <span> {{price}}<i class="fa fa-dollar"></i></span>
        <h4>- {{category}} -</h4>
        <h5>{{meals_number}} meals</h5>
        <p>{{description}} </p>
      </figure>
      {{/each}}
    </div>

  </main>
</body>

</html>