<!--
* ********************************************************************************/ 
*  WEB322 – Assignment 1
*  I declare that this assignment is my own work in accordance with Seneca  Academic Policy.  
*  No part of this assignment has been copied manually or electronically from any other source
*  (including web sites) or distributed to other students.
* 
*  Name: Batuhan Ipci    Student ID: 130971203       Date: 10/18/2021
*
*  Online (Heroku) URL:    https://stark-crag-53181.herokuapp.com/
*
********************************************************************************/ 
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home | Batu Steak House</title>
  <link rel="shortcut icon" type="image/png" href="/static/icon/web_icon.png">
  <link rel="stylesheet" href="/static/style.css" />
  <link rel="stylesheet" href="https://use.typekit.net/okg8dxw.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <main>

    <!-- =========  Hero Section  =========-->
    <div class='hero'>
      <div class="hero-one"></div>
      <div class="hero-two"></div>
      <h1 class="header-title"><span class="header-primary">Chef Batu Recipes</span><span class="header-sub">and the
          underground secrets</span></h1>
      <button type="button" class="fill-btn"><a href="#menu"><b>Order Now!</b></a></button>
    </div>
    <!-- =========  Hero Section  =========-->

    <!-- figure 1.1 -->
    <div class="content_section">
      <div class="content_text">Healthy food, for a wealthy mood!</div>
    </div>
    <!-- figure 1.1 -->


    <!-- figure 1.2 -->
    <div class="grid-content">
      <div class="content">
        <img src="static/images/menu.png" style="width: 48%; height: 220px; border-radius: 35%" />
        <figcaption>Pick</figcaption>
        <p>10+ types of steaks done with special skills. Order some (or all) of these meals</p>
      </div>
      <div class="content">
        <img src="static/images/delivery.png" style="width: 48%; height: 220px; border-radius: 35%" />
        <figcaption>Heat</figcaption>
        <p>Food delivery now becomes very simple. Order with our amazing app now!</p>
      </div>
      <div class="content">
        <img src="static/images/bakery.png" style="width: 48%; height: 220px; border-radius: 35%" />
        <figcaption>Eat</figcaption>
        <p>Microwave or Oven, No Cleaning Up. Adventurous & Healthy eating</p>
      </div>
      <div class="content">
        <img src="static/images/food.png" style="width: 48%; height: 220px; border-radius: 35%" />
        <figcaption>Repeat</figcaption>
        <p>Cooking techniques for perfectly grilled skirt steak, rib-eye,
          filet mignon and more</p>
      </div>
    </div>
    <a name="menu"></a>
    <div class="content_section">
      <div class="content_text">
        Batu Chef Cooks, You Simply Heat and Eat
      </div>
    </div>

    <!-- == figure 1.3 == top meals-->
    <div class="grid">
      <figure>
        <img src="static/images/tbone.jpg" alt="tbone">
        <figcaption>Roasted Steak with Crispy Broccoli </figcaption>
        <span>42.20 <i class="fa fa-dollar"></i></span>
        <h4>- Keto Meal -</h4>
        <h5>2 meals</h5>
        <p>Large heads of broccoli,12-oz. sirloin, boneless rib-eye, or New York strip steaks (about 1¼" thick)
          jalapeño,
          finely chopped </p>
      </figure>
      <figure>
        <img src="static/images/ribeye.jpg" alt="ribeye">
        <figcaption>Crab-Paste-Grilled Rib Eye</figcaption>
        <span>24.00 <i class="fa fa-dollar"></i></span>
        <h4>- Weight Loss Meal -</h4>
        <h5>1 meal</h5>
        <p>A perfectly marbled rib eye doesn’t need much to shine, but basting it with jarred crab paste adds a whole
          new level of flavor.</p>
      </figure>
      <figure>
        <img src="static/images/bistecca.jpg" alt="bistecca" width="265px">
        <figcaption>Chi Spacca's Bistecca Fiorentina</figcaption>
        <span>50.70 <i class="fa fa-dollar"></i></span>
        <h4>- Muscle Gain Meal -</h4>
        <h5>2 meals</h5>
        <p>
          If you don’t enjoy very rare meat, keep these steaks on the grill until they reach 120°; they’ll still be
          rare, but less aggressively so.</p>
      </figure>
      <figure>
        <img src="static/images/ribroast.jpg" alt="tunasteak">
        <figcaption>Low-and-Slow Rib Roast</figcaption>
        <span>37.90 <i class="fa fa-dollar"></i></span>
        <h4>- Weight Loss Meal -</h4>
        <h5>3 meals</h5>
        <p>
          This rib roast is rubbed with a punchy mixture of rosemary, anchovies, and garlic. The reverse sear is
          excellent.
        </p>
      </figure>
      {{#each data}}
      <figure>
        <img src="/static/uploads/{{photo}}" />
        <figcaption>-{{mealName}}-</figcaption>
        <span> {{price}}<i class="fa fa-dollar"></i></span>
        <h4>- {{category}} -</h4>
        <h5>{{meals_number}} meals</h5>
        <p>{{description}} </p>
      </figure>
      {{/each}}
    </div>
  </main>
</body>

</html>